---
layout: main.pug
---

include _includes/sections/masthead.pug

if conference.features.countdown
	include _includes/sections/countdown.pug

if conference.features.cfp
	include _includes/sections/cfp-bar.pug

if conference.features.speakers
	include _includes/sections/speakers.pug


if conference.features.eventDetails
	include _includes/sections/event-details.pug

if conference.features.sponsors
	include _includes/sections/sponsors.pug

if conference.features.mailingList
	include _includes/sections/mailing-list-bar.pug
