---
layout: main.njk
title: Schedule
pagination:
  data: schedule
  alias: day
  size: 1
permalink: "schedule/{{pagination.items[0].label | slug}}/index.html"

---
<div class="section bg-white">
	<div class="tc pv4">
		{% for day in schedule %}
			{% set dayUrl = "/schedule/" + day.label | slug + "/" %}
			<a href="{{dayUrl}}" class="f4 ph2 {% if pagination.hrefs[pagination.pageNumber] == dayUrl %}active{% endif %}">{{day.label}}</a>
		{% endfor %}
	</div>
	<div>
		<div class="mb4">
			{% for scheduleBlock in day.scheduleBlocks %}
			<div class="flex flex-wrap">
				<div class="w-100 w-10-ns">
					<div class="schedule-block-time tl tr-m ph2 pl0-ns pr4 mt3">{{ scheduleBlock.time }}</div>
				</div>
				<div class="w-100 w-90-ns">
				{% if scheduleBlock.blocks %}
					<div class="flex flex-wrap">
					{% for scheduleBlock in scheduleBlock.blocks %}
						{% set talk = talks[scheduleBlock.talkId] %}
						{% set room = rooms[scheduleBlock.roomId] %}
						<div class="w-100 w-100-m w-25-ns">
							<div class="{{room.color}} ma1 pa3 h4">
								{% set firstSpeaker = speakers[talk.speakerIds[0]] %}

								{% if firstSpeaker %}
								<div><a href="/speakers/{{ firstSpeaker.name | slug }}">{{ talk.talkTitle }}</a></div>
								{% else %}
								<div class="ttu b">{{ talk.talkTitle }}</div>
								{% endif %}

								<div>{{ talk.speakerIds | toSpeakerNamesList(speakers) }}</div>
							</div>
						</div>
					{% endfor %}
					</div>
					{% else %}
						{% set room = rooms[scheduleBlock.roomId] %}
						{% if room %}
						<div class="{{room.color}} ma1 pa3">
						{% else %}
						<div class="bg-yellow ma1 pa3">
						{% endif %}
							<div class="tc">{{ scheduleBlock.label }}</div>

							{% if scheduleBlock.description %}
							<div class="mt2">{{scheduleBlock.description}}</div>
							{% endif %}
						</div>
					{% endif %}
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	{% include "sections/room-key.njk" %}
</div
