---
layout: main.pug
title: Schedule
---

.section.bg-white
	h1 Schedule


	.schedule-container
		.schedule-day
			h2 Wednesday
			.schedule-block
				.schedule-block-time
					8:00 AM
				.schedule-block-label
					Registration and Breakfast
			.schedule-block
				.schedule-block-time
					8:45 AM
				.schedule-block-label
					Welcome to Midwest JS
