---
layout: main.njk
title: Schedule
---

<div class="section bg-white">
	<h1>Schedule<h1>


	<div class="schedule-container">
		<div class="schedule-day">
			h2 Wednesday
			<div class="schedule-block">
				<div class="schedule-block-time">
					8:00 AM
				</div>
				<div class="schedule-block-label">
					Registration and Breakfast
				</div>
			</div>
			<div class="schedule-block">
				<div class="schedule-block-time">
					8:45 AM
				</div>
				<div class="schedule-block-label">
					Welcome to Midwest JS
				</div>
			</div>
		</div>
	</div>
</div>
