---
layout: main.njk
title: Speakers
pagination:
  data: speakers
  size: 1
---

<div clas="bg-white pa2">
	<h1>Speakers</h1>

	<div class="speaker section shapesBg">
	{% for speaker in pagination.items %}
		<img src="{{ speaker.photo }}"/>
		<a href="/speakers/speaker-0">
			<h1 class="speakerName">{{ speaker.name }}</h1>
		{% for talk in speaker.talks %}
			<h2 class="speaker-talk-title">{{ talk.title }}<h2>
		{% endfor %}
	{% endfor %}
</div>
