---
layout: main.njk
title: Speakers
pagination:
  data: speakers
  size: 1
permalink: "speakers/{{pagination.items[0].name | slug}}/index.html"
---

<div class="speaker section shapesBg">
	{% for speaker in speakers %}
		<img src="{{ speaker.photo }}"/>
		<h1 class="speakerName">{{ speaker.name }}<h1>
		<div class="speaker-details">
			<div class="speaker-bio">{{ speaker.bio }}</div>
			<div class="speaker-links"
				{% if speaker.github %}
				<div class="speakerLink">
					<a href="https://github.com/{{ speaker.github }}" class="pa2">
						<i data-feather="github"></i> {{ speaker.github }}
					</a>
				</div>
				{% endif %}
				{% if speaker.twitter %}
				<div class="speakerLink">
					<a href="https://twitter.com/{{ speaker.twitter }}" class="pa2">
						<i data-feather="twitter"></i> @{{speaker.twitter}}
					</a>
				</div>
				{% endif %}
				{% if speaker.website %}
				<div class="speakerLink">
					<a href="{{ speaker.website }}" class="pa2">
						<i data-feather="home"></i>
					</a>
				</div>
				{% endif %}
		{% for talk in speaker.talks %}
			<h2 class="speaker-talk-title">{{ talk.title }}</h2>
			<p class="speaker-talk-description">{{ talk.description }}</p>
		{% endfor %}
	{% endfor %}
</div>
