---
layout: main.njk
title: Workshops
---

{% import 'macros/avatar.njk' as avatar %}

<div class="section bg-white ma">
    {% for workshop in workshops %}
        {% set talk = talks[workshop.talkId] %}
        {% set speaker = speakers[talk.speakerId] %}
        {% set room = rooms[workshop.roomId] %}

        <div class="flex">
            <div class="w-75 {{room.color}} pa3 mb4">
                <h2>{{talk.talkTitle}}</h2>
                <p class="i">{{speaker.name}}</p>
                <p>{{talk.talkAbstract}}</p>
            </div>
        </div>
    {% endfor %}

    {% include "sections/room-key.njk" %}
</div
