{% if conference.features.cfp %}
<div class="section notificationBar">
	<p>
		Call for papers is open!
		<a href="{{conference.links.cfp }}" target="new" class="button">Submit a talk</a>
	</p>
</div>
{% endif %}
