.section.tc
	h2 Countdown
	div(id='countdown')
		//- .countdown-element
		//- 	.countdown-element-value 12
		//- 	.countdown-element-label days
		//- .countdown-element
		//- 	.countdown-element-value 12
		//- 	.countdown-element-label hours
		//- .countdown-element
		//- 	.countdown-element-value 12
		//- 	.countdown-element-label minutes
		//- .countdown-element
		//- 	.countdown-element-value 12
		//- 	.countdown-element-label seconds
