.section.notificationBar
	form(action='https://ruthvenrocks.us17.list-manage.com/subscribe/post?u=591a475c9d7ea3699ec7de21a&amp;id=717d1495ab' method='post' id='mc-embedded-subscribe-form' name='mc-embedded-subscribe-form' class='validate' target='_blank' novalidate)
		| Subscribe to updates for #{conference.name}
		input(type='email' name='EMAIL' id='mce-EMAIL')
		input(type='text' name='b_591a475c9d7ea3699ec7de21a_717d1495ab' tabindex='-1' value='' hidden)
		input(type='submit' value='Sign Up' name='subscribe' id='mc-embedded-subscribe')
		button(name='signup')
