.section.prismBg
	h2.tc Speakers
	.flex.flex-wrap.pa4
		.w-25.pa2
			img(src="//via.placeholder.com/200x200" data-lazy-type="image" data-src="//via.placeholder.com/200x200").w-100
		.w-25.pa2
			img(src="//via.placeholder.com/200x200" data-lazy-type="image" data-src="//via.placeholder.com/200x200").w-100
		.w-25.pa2
			img(src="//via.placeholder.com/200x200" data-lazy-type="image" data-src="//via.placeholder.com/200x200").w-100
		.w-25.pa2
			img(src="//via.placeholder.com/200x200" data-lazy-type="image" data-src="//via.placeholder.com/200x200").w-100
		.w-25.pa2
			img(src="//via.placeholder.com/200x200" data-lazy-type="image" data-src="//via.placeholder.com/200x200").w-100
		.w-25.pa2
			img(src="//via.placeholder.com/200x200" data-lazy-type="image" data-src="//via.placeholder.com/200x200").w-100
		.w-25.pa2
			img(src="//via.placeholder.com/200x200" data-lazy-type="image" data-src="//via.placeholder.com/200x200").w-100
		.w-25.pa2
			img(src="//via.placeholder.com/200x200" data-lazy-type="image" data-src="//via.placeholder.com/200x200").w-100
		.w-25.pa2
			img(src="//via.placeholder.com/200x200" data-lazy-type="image" data-src="//via.placeholder.com/200x200").w-100
		.w-25.pa2
			img(src="//via.placeholder.com/200x200" data-lazy-type="image" data-src="//via.placeholder.com/200x200").w-100
