{% import '../macros/avatar.njk' as avatar %}

{% if conference.features.speakers %}
<div class="section">
	<h2 class="tc mb4">Speakers</h2>
	{% if speakers.length > 0 %}
	<div class="flex flex-wrap">
		{% for speaker in speakers %}
		<div class="w-50 w-third-ns tc mb4 ph2">
			<a href="/speakers/{{ speaker.name | slug }}">
				{{ avatar.format(speaker, 250) }}
				<h2 class="speakerName black mt3">{{ speaker.name }}</h2>
				{% for talk in speaker.talks %}
					<p class="black fw1 ttn speaker-talk-title">{{ talk.talkTitle }}</p>
				{% endfor %}
			</a>
		</div>
		{% endfor %}
	</div>
	{% else %}
	<p class="tc">Our speakers list will be published shortly. Check back soon!</p>
	{% endif %}
</div>
{% endif %}
