.section.footer
	.pb3.tc
		a(href=conference.links.twitter).pa2
			i(data-feather='twitter')
		a(href=conference.links.youtube).pa2
			i(data-feather='youtube')
		a(href=conference.links.github).pa2
			i(data-feather='github')
		a(href=conference.links.slack).pa2
			i(data-feather='slack')
	.tc
		a(href='/code-of-conduct') Code of Conduct
