<div class="section footer">
	<div class="mb3 tc">
		<a href="{{ conference.links.twitter }}" class="pa2">
			<i data-feather="twitter"></i>
		</a>
		<a href="{{ conference.links.youtube }}" class="pa2">
			<i data-feather="youtube"></i>
		</a>
		<a href="{{ conference.links.github }}" class="pa2">
			<i data-feather="github"></i>
		</a>
		<a href="{{ conference.links.slack }}" class="pa2">
			<i data-feather="slack"></i>
		</a>
	</div>
	<div class="tc">
		<a href="/code-of-conduct">Code of Conduct</a>
	</div>
</div>
