.topBar
	p.fl #[a(href='/') #{conference.name}]
	//- ul.list.pa0.mv2.mr2.dn.db-l
	ul.list.pa0.mv2.mr2
		if conference.features.schedule
			li.dib.ph2 #[a(href='/schedule').no-underline Event Schedule]
		if conference.features.tickets
			li.dib.ph2 #[a(href='/tickets').no-underline Tickets]
		li.dib.ph2 #[a(href='/code-of-conduct').no-underline Code of Conduct]

	//- a(href=conference.links.slack).pa2.dn-l
	//- 		i(data-feather='menu')
