/* ----------- Elements ----------- */
body {
	font-family: 'Roboto Condensed', sans-serif;
	background: url(/assets/gplaypattern.png);
	background-attachment: fixed;
}

h1, h2, h3, h4, h5 {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
	margin: 0 0 .25em 0;
}

h2, h3 {
	text-transform: uppercase;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

p {
	margin: 0 0 .5em 0;
}

/* ----------- Components ----------- */

/* Forms */

.button {
	border: 2px solid rgb(24, 24, 24);
	color: rgb(24, 24, 24);
	padding: .5em;
	margin: 0 .5em;
	display: inline-block;
}

/* ----------- Containers ----------- */
.section {
	background-color: #fff;
	padding: 1em;
}

@media screen and (min-width: 60em) {
	.section {
		padding: 2em;
	}
}

.prismBg {
	background: url(/assets/prism.png);
	color: #fff;
}

.geometryBg {
	background: url(/assets/geometry.png);
	color: #fff;
}

.geometry2xBg {
	background: url(/assets/geometry2x.png);
	color: #fff;
}

.shapesBg {
	background: url(/assets/memphis-colorful.png);
	color: #000;
}

.gplayBg {
	background: url(/assets/gplaypattern.png);
	color: rgb(24, 24, 24);
}

/* event details */
.event-details {

}

.event-details-item {
	padding-bottom: 1em;
}

/* sponsors */
.sponsors {
	text-align: center;
	color: #fff;
}

.sponsors a {
	color: #fff;
}

/* masthead */
.masthead {
	background: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(/assets/cityscape.jpg) no-repeat;
	background-size: cover;
}

.masthead-logo-container {
	text-align: center;
}

@media screen and (min-width: 60em) {
	.masthead-logo-container {
		border-right: 4px solid #fff;
		text-align: right;
		padding: 1em 4em 1em 0;
	}
}

.masthead-description-container {
	color: #fff;
	padding: 1em;
}

@media screen and (min-width: 60em) {
	.masthead-description-container {
		padding-left: 4em;
	}
}

.masthead-tagline {
	font-size: 2em;
	font-weight: bold;
	text-align: center;
}

.masthead-description {
	font-size: 1.5em;
	color: #c8c9c7;
}

.masthead-button {
	background-color:  #fff;
	border: 2px solid rgb(24, 24, 24);
	color: #000;
	font-size: 2em;
	padding: .5em;
	font-weight: bold;
	display: block;
	text-align: center;

}

/* footer */
.footer {
	background-color: rgb(255, 213, 3);
	color: rgb(24, 24, 24);
}

a {
	color: rgb(24, 24, 24);
	text-transform: uppercase;
	font-weight: bold;
}

/* top bar */

.topBar {
	padding: .8em;
	text-align: right;
	background-color: rgb(255, 213, 3);
	color: rgb(24, 24, 24);
}

@media screen and (min-width: 60em) {
	.topBar {
		padding: 1.25em;
	}
}

.topBar a {
	color: rgb(24, 24, 24);
	text-transform: uppercase;
	font-weight: bold;
}

.topBar ul {
	margin: 0;
	padding: 0;
}

/* mailing list bar */
.notificationBar {
	background-color: hsl(145, 87%, 31%);
	color: #fff;
	text-align: center;
	font-size: 1.5em;
	padding: .5em .5em;
}

.notificationBar p {
	margin: 0;
}

.notificationBar input[type=text] {
	width: 200px;
	margin-left: .5em;
	font-size: 1.25em;
}

.notificationBar button, .notificationBar a {
	margin-left: .5em;
	background-color: transparent;
	border: 2px solid #fff;
	color: #fff;
	padding: .25em 1.5em;
}

.separatorBar {
	height: 1.5em;
}

/* ----------- Components ----------- */
/* countdown */
#countdown {
	font-size: .7em;
	padding-top: 1em;
}

@media screen and (min-width: 60em) {
	#countdown {
		font-size: inherit;
	}
}

.countdown-element {
	border: 1px solid #ccc;
	border-radius: .5em;
	display: inline-block;
	text-align: center;
	padding: .5em;
	margin: 0 .5em;
	width: 5em;
}

.countdown-element-value {
	font-size: 2em;
}

.countdown-element-label {
	text-transform: uppercase;
}

.speaker-image {
	clip-path: circle(50% at center);
	width: 200px;
}

a.active {
	text-decoration: underline;
}

.room-key {
	width: 100px;
}
