{% macro format(speaker, size) %}
    {% if speaker.gravatar %}
        {{ gravatar(speaker.gravatar, size) }}
    {% else %}
        {{ photo(speaker.photo) }}
    {% endif %}
{% endmacro %}

{% macro gravatar(url, size) %}
    <img src="{{ url }}?s={{ size }}" class="speaker-image"/>
{% endmacro %}

{% macro photo(url) %}
    <img src="{{ url }}" class="speaker-image"/>
{% endmacro %}
