---
layout: main.njk
title: COVID-19
---

<div class="section">
	<h1>COVID-19 Statement</h1>

	<p>MidwestJS is a community and we are concerned about the health and safety of everyone associated with the
	conference. As of today (March 15, 202), we are in the middle of our CFP and currently have no plans cancelling or
	postponing our conference. We will be monitoring news sources and making adjustments as we continue to learn about
	the progress of this disease. MidwestJS exists to build community, share information, and to help us all improve as
	developers.</p>

	<p><a href="{{conference.links.twitter}}">Follow us on Twitter</a> if you're looking to share your thoughts or
	simply keep up with going-ons of MidwestJS. We will be sending out updates as as we learn more and get closer to the
	conference.</p>
</div>
