---
layout: main.njk
title: MidwestJS 2020 Cancelation
---

<div class="section">
	<h1>MidwestJS 2020 Canceled</h1>

	<p>MidwestJS is a community and we are concerned about the health and safety of everyone associated with the
	conference. We have decided to cancel MidwestJS 2020.</p>

	<p><a href="{{conference.links.twitter}}">Follow us on Twitter</a> if you're looking to share your thoughts or
	simply keep up with going-ons of MidwestJS. We'll see you in 2021!</p>
</div>
